<ion-header>
        <ion-grid>
  <ion-toolbar color="duoc">

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="Regresar" color="primary" mode="ios"></ion-back-button>

    </ion-buttons>
    <ion-title class="ion-text-center" style="position:relative; left:0.6em" color="medium">{{ titulo }}</ion-title>

    <ion-buttons slot="start">

        <ion-avatar>
          <!-- <img src="/assets/Mike_Tyson.jpg"> -->
          <ion-img src="/assets/duoc-logo.png"></ion-img>
        </ion-avatar>

        <!-- <img src="/assets/Mike_Tyson.jpg"> -->


    </ion-buttons>
  </ion-toolbar>
  </ion-grid>
</ion-header>
