<app-header titulo="Profesor"></app-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size="8" offset="2">
        <ion-img src="/assets/duoc-logo2.png"></ion-img>
      </ion-col>
    </ion-row>
  </div>

    <ion-row>
      <ion-col class="centrar">
        <h4>Nombre</h4>
        <p>Mumo</p>
        <hr>
        <h4>Fecha</h4>
        <p>12-12-12</p>
      </ion-col>
    </ion-row>
    <ion-grid>
    <div><ion-row>
      <ion-col size="6" offset="3">

    <ion-button class="submit-button" shape="round" size="large" type="submit" color="duoc2">Generar QR
    </ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
          <ion-col size="6" offset="3" >
  <ion-button class="delete-button" shape="round" size="large" color="duoc2">Cancelar</ion-button>
  </ion-col>
  </ion-row>
  </div>
  </ion-grid>

</ion-content>
