<app-header titulo="Profesor"></app-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size="8" offset="2">
        <ion-card id="card" class="ion-text-center">
          <ion-card-content>
            <ion-img src="/assets/duoc-logo2.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size="12">
      <ion-item style="margin: 5px">
        <ion-title class="ion-text-center" style="font-size:1.6rem">Listado de alumnos</ion-title>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col size="8" offset="2">
      <ion-item>
        <ion-label>
          <h2>Programacion Mobile</h2>
        </ion-label>
        <ion-button id="open-modal" expand="block" color="duoc">Mostrar curso</ion-button>
      </ion-item>
    </ion-col>
  </ion-row> -->


  <!-- <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Lista de curso</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-col class="centrar">
          <ion-item-sliding *ngFor="let alumno of alumnos">

            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="/assets/default_profile_avatar.png"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{ alumno.nombre }}</h2>
                <p>{{ alumno.email }}</p>
              </ion-label>
              <ion-label slot="end" class="ion-text-end text-small">{{ alumno.asistencia }}</ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(alumno)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </ion-col>

      </ion-content>
    </ng-template>
  </ion-modal> -->


  <ion-row>
    <!-- <ion-col size="8" offset="2">
      <div>
        <ion-item>
          <details style="width:100%">
            <summary>Curso 1</summary>

            <ion-item-sliding *ngFor="let alumno of alumnos">

              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="/assets/default_profile_avatar.png"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{ alumno.nombre }}</h2>
                  <p>{{ alumno.email }}</p>
                </ion-label>
                <ion-label slot="end" class="ion-text-end text-small">{{ alumno.asistencia }}</ion-label>
              </ion-item>

              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(alumno)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

          </details>
        </ion-item>
      </div>
    </ion-col> -->
    <ion-col size-sm="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size="12">
      <div>
        <ion-item>
          <details style="width:100%">
            <summary>Programacion Mobile</summary>

            <ion-item-sliding *ngFor="let user of users">

              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="/assets/default_profile_avatar.png"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{ user.nombre }}</h2>
                  <p>{{ user.email }}</p>
                </ion-label>
                <ion-label slot="end" class="ion-text-end text-small">{{ user.asistencia }}</ion-label>
              </ion-item>

              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(user)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

          </details>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size-sm="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size="12">
      <div>
        <ion-item>
          <details style="width:100%">
            <summary>Calidad de software</summary>

            <ion-item-sliding *ngFor="let user of users">

              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="/assets/default_profile_avatar.png"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{ user.nombre }}</h2>
                  <p>{{ user.email }}</p>
                </ion-label>
                <ion-label slot="end" class="ion-text-end text-small">{{ user.asistencia }}</ion-label>
              </ion-item>

              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(user)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

          </details>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size-sm="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
      <div>
        <ion-item>
          <details style="width:100%">
            <summary>Arquitectura</summary>

            <ion-item-sliding *ngFor="let user of users">

              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="/assets/default_profile_avatar.png"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{ user.nombre }}</h2>
                  <p>{{ user.email }}</p>
                </ion-label>
                <ion-label slot="end" class="ion-text-end text-small">{{ user.asistencia }}</ion-label>
              </ion-item>

              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(user)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

          </details>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

  <ion-grid>
    <div>
      <ion-row>
        <ion-col size-lg="4" offset-lg="4" size-md="6" offet-md="4" size="6" offset="3">
          <ion-button id="open-modal2" expand="block" shape="round" type="submit" color="duoc2" class="center-button">
            Generar
            codigo QR
          </ion-button>
          <ion-modal #modal trigger="open-modal2" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
            <ng-template>
              <ion-header>
                <ion-card class="ion-text-center">
                  <ion-card-header>
                    Codigo QR
                  </ion-card-header>
                </ion-card>
              </ion-header>
              <ion-content class="ion-padding, ion-text-center">
                <qrcode [qrdata]="codigoQr" [width]="390" [errorCorrectionLevel]="'M'"></qrcode>
              </ion-content>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Close</ion-button>
              </ion-buttons>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="4" offset-lg="4" size-md="6" offet-md="4" size="6" offset="3">
          <ion-button class="delete-button" shape="round" color="duoc2" class="center-button" [routerLink]="'/login'">
            Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>

<ion-footer class="ion-text-center" collapse="fade">
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button size="small" class="posicion" color="duoc3">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="facebook" class="posicion">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" class="posicion">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="youtube" class="posicion">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button color="vimeo" class="posicion">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="google" class="posicion">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="github" class="posicion">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <app-footer></app-footer>
</ion-footer>
