<ion-header>
  <ion-grid>
    <ion-toolbar color="duoc">
      <ion-title class="ion-text-center" style="position:relative; right:2em" color="medium">Log in</ion-title>

      <ion-buttons slot="start">

        <ion-avatar>
          <!-- <img src="/assets/Mike_Tyson.jpg"> -->
          <ion-img src="/assets/duoc-logo.png"></ion-img>
        </ion-avatar>

        <!-- <img src="/assets/Mike_Tyson.jpg"> -->


      </ion-buttons>
    </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content>
    <div>
      <ion-row>
        <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size="8" offset="2">
              <ion-card id="palpitar" class="ion-text-center">
                <ion-card-header>
                  <ion-card-title>Registrapp</ion-card-title>
                  <ion-img src="/assets/duoc-logo2.png"></ion-img>
                </ion-card-header>

                <ion-card-content>
                  Bienvenido
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
    </div>

  <form [formGroup]="usuario">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="5" offset-lg="3.5" size-md="6" offset-md="3" size-sm="8" offset-sm="2" size="10" offset="1">
          <ion-item>
            <ion-select [compareWith]="compareWith" placeholder="Tipo de usuario" (ionChange)="handleChange($event)">
              <ion-select-option *ngFor="let tipousuario of tipoUsuario" [value]="tipousuario">{{ tipousuario.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" formControlName="user"></ion-input>
        </ion-item>
          <ion-item class="margin-bot">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="pass"></ion-input>
        </ion-item>
        <!-- <ion-button class="submit-btn" class="margin" expand="block" type="submit" color="duoc2" [routerLink]="'/profesor'">Acceder profesor</ion-button> -->
        <ion-button class="submit-btn" class="margin" expand="block" type="submit" color="duoc2" (click)=loginUser()>
          Acceder</ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
    <p class="centrar">
      Perdiste tu cuenta? <a>Recuperala aca.</a>
    </p>
  </form>


</ion-content>

<ion-footer class="ion-text-center" collapse="fade">
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button size="small" class="posicion" color="duoc3">
              <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="top">
              <ion-fab-button color="facebook" class="posicion">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="twitter" class="posicion">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="youtube" class="posicion">
                <ion-icon name="logo-youtube"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>

            <ion-fab-list side="start">
              <ion-fab-button color="vimeo" class="posicion">
                <ion-icon name="logo-vimeo"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="google" class="posicion">
                <ion-icon name="logo-google"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="github" class="posicion">
                <ion-icon name="logo-github"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
    <app-footer></app-footer>
</ion-footer>
