.margin{
  margin: 10px;
}
.margin-bot{
  margin-bottom: 100px;
}

.centrar
{
  text-align: center;
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}

.scanner-ui { display: none; }
.scanner-hide { visibility: visible; }

body.qrscanner { background-color: transparent; }
body.qrscanner .scanner-ui { display: block; }
body.qrscanner .scanner-hide { visibility: hidden; }
